# Spotify Client Application Configuration
# Get your Client ID from: https://developer.spotify.com/dashboard
VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id_here

# Whitelist this URI in the Spotify Developer Dashboard.
# During local development: http://localhost:5173/
# During production Netlify: https://your-app-name.netlify.app/
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5173/
